@model Parcial1_1201619.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h1>Cita</h1>

<h4>Ingresa la Información Para la cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-top:10px">
                <label asp-for="PersonalInformationPatientId" class="control-label">Nombre del Paciente</label>
                <select asp-for="PersonalInformationPatientId" class ="form-control" asp-items="ViewBag.PersonalInformationPatientId"></select>
            </div>
            <div class="form-group" style="margin-top:10px">
                <label asp-for="PersonalInformationDoctorId" class="control-label">Nombre del Doctor</label>
                <select asp-for="PersonalInformationDoctorId" class ="form-control" asp-items="ViewBag.PersonalInformationDoctorId"></select>
            </div>
            <div class="form-group" style="margin-top:10px">
                <label asp-for="AppointmentDate" class="control-label">Fecha de la Cita</label>
                <input asp-for="AppointmentDate" class="form-control" type="date"/>
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group"style="margin-top:10px">
                <label asp-for="AppointmentTime" class="control-label">Hora de la Cita</label>
                <input asp-for="AppointmentTime" class="form-control" type="time"/>
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" style="margin-top:10px" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top:10px">
    <a asp-action="Index" class="btn btn-dark">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
